// Place all the styles related to the horrors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.big-box{
    background-color: rgba(0, 0, 0, 0.785);
    height: 200vh;
}
    

.first-box{
    background-color: #254951;
    height: 100vh;
    background-image: url(man-2850159_1280.jpg);
}

.second-box{
    background-color:#2d2522;
    color: #C20B0B;
    text-align: center;
    font-size: 25px;
    border: #C20B0B solid;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.third-box{
    text-align: center;
    color: #de5f5f;
    font-size: 25px;
}

.five-box{
    background-color: rgb(222, 9, 44);
    font-size: 22px;
    text-align: center;
    padding: 5px 20px;
}

.first-img{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 180px;
}

.sub-img{
    border: #C20B0B 2px solid;
    height: 100%;
}

.kensaku-box{
    justify-content: space-between;
    text-align: center;
    font-size: 22px;
    margin-left: 40px;
    margin-right: 40px;
}

.four-box{
    font-size: 23px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.horrors-container{
    text-align: center;
    margin-top: 50px;
    border: 3px solid;
    color: rgb(233, 105, 105);
    font-size: large;
    box-shadow: 3px rgb(15, 0, 0);
}

.first-container{
    background-image: url(horror.back.jpg);
    height: 100vh;
}

.second-container{
    border: 2px solid;
    text-align: center;
    background-color: #31211A;
    color: #C20B0B;
    margin: 20px 500px;
}

.third-container{
    color: white;
    text-align: center;
}
.toukou-content{
    background-color: #D9D9D9;
    color: black;
    text-align: left;
    margin: 10px 50px;
    padding: 10px 50px;
    display:flex;
    justify-content:space-around;
}


.toukou-text1{
    text-align: left;
    font-size: 20px;
}

.toukou-text2{
    text-align: left;
    font-size: 20px;
}

.post-button {
    background-color: rgb(0, 255, 123);
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px gray;
    transition: 0.3s;
  }
    