// Place all the styles related to the shindans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-sindan{
    text-align: center;
}
.col-12{
    background-color: black;
    color: white;
    font-size: xx-large;
}

.col-6{
    color: darkslateblue;
    font-size: x-large;
}

.sindanbotan{
    font-size: x-large;
    text-align: center;
}

.shindan-con{
    background-image: url(horror.back.jpg);
    height: 100vh;
}

.intoro{
    text-align: center;
    font-size: 30px;
    background-color: black;
    color:ghostwhite
}

.shindan{
    text-align: center;
    font-size: larger;
    color: red;
}